*.*
!*.gitignore
!README.md

!*.java
!*.md
!*.json

!src/site/*.doxyfile
!src/site/*.css
!src/site/*.xml
!src/analysis/**/*.xml

src/test/Barcelona
src/test/Hannover

src/main/java/org/socialcars/sinziana/pfara/negotiation/simultaneoussearch/*.*
src/test/java/org/socialcars/sinziana/pfara/negotiation/simultaneoussearch/*.*

target/
